<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <meta name="description" content="courier service that helps users deliver parcels to different destinations>
   <meta name="keywords" content="Andela's Challenge-1">
   <meta name="author" content="Ndindiri">
   <title>Challenge-2 | Welcome</title>
</head>
<body><div style="text-align: center;">
   <h5>"GET" To Fetch all parcel delivery orders please use:</h5>
   <p> "/sendIT/parcels"</p><br>
   <h5>"GET" To Fetch a specific parcel delivery order please use:</h5>
   <p> "/sendIT/parcels/:id" </p><br>
   <h5>"GET" To Fetch all parcel delivery orders by a specific user please use:</h5>
   <p>"/sendIT/users/:id"</p><br>
   <h5>"PUT" To Cancel the specific parcel delivery order please use: </h5>
   <p>"/sendIT/parcels/:id'" </p><br>
   <h5>"POST" To Create a parcel delivery order please use: </h5>
   <p>"/sendIT/parcels" </p>
   <h5>"DELETE" To Delete a user parcel order please use: </h5>
   <p>"/sendIT/parcels/:id" </p>
 </div>
</body>
</html>
